<!DOCTYPE html>
<html lang="en">
<head>
    <title>TodoMVC — Vue.js</title>
    <meta charset="utf-8">
    <meta name="description" content="Vue.js - Intuitive, Fast and Composable MVVM for building interactive interfaces.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div id="autocompleteApp">
        <input type="text" class="form-control" placeholder="TYPE YOUR NAME STARTING 'J'."
            v-on:keyup="onNameTyped"
            v-on:keyup.up="onSuggestionMovedUp" 
            v-on:keyup.down="onSuggestionMovedDown"
            v-on:keyup.enter="onSuggestionEntered"
            v-model="typedName"
        />
        <ul class="list-group" id="nameSuggestions">
            <template v-for="suggestion in suggestions">
                <li class="list-group-item" v-bind:class="{ active : suggestion.selected }">{{ suggestion.value }}</li>
            </template>
        </ul>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script>
    // name storage
    var storage = {
        KEY: 'LEARN-VUEJS-AUTOCOMPLETE',
        create: function() {
            localStorage.setItem(this.KEY, JSON.stringify({
                names: [
                    "JOOQ",
                    "JODA",
                    "JPA",
                    "JDK",
                    "JAVA",
                    "JBOSS"
                ]
            }));
        },
        fetch: function () {
            return JSON.parse(localStorage.getItem(this.KEY) || '[]');
        }
    };

    // input app
    var app = new Vue({
        el: '#autocompleteApp',
        data: {
            names: storage.fetch()['names'],
            typedName: "",
            suggestions: []
        },
        beforeCreate: function() {
            storage.create();
        },
        methods: {
            onNameTyped: function(e) {
                if (e.keyCode == 38 || e.keyCode == 40) return;

                var typedName = this.typedName;
                if (_.isEmpty(typedName)) {
                    this.suggestions = [];
                    return;
                }

                this.suggestions = _.filter(this.names, function(n) {
                    return n.startsWith(typedName);
                }).map(function(n, idx) {
                    return {
                        value: n,
                        index: idx,
                        selected: false
                    }
                });
            },
            onSuggestionMovedUp: function() {
                // TODO
            },
            onSuggestionMovedDown: function() {
                if (_.isEmpty(this.suggestions)) return;
                var selected = _.find(this.suggestions, function(s) {
                    return s.selected;
                });

                var nextIndex = 0;
                if (!_.isEmpty(selected)) {
                    this.suggestions[selected.index].selected = false;
                    if (selected.index != this.suggestions.length - 1) {
                        nextIndex = selected.index + 1;
                    }
                }

                this.suggestions[nextIndex].selected = true;
            },
            onSuggestionEntered: function() {
                // TODO
            }
        }
    });
</script>
</html>